flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
# =========================
# Flutter
# =========================
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
.pub/
build/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Firebase
# =========================
tools/serviceAccountKey.json

# =========================
# Node.js
# =========================
node_modules/
package-lock.json